<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Acid-Test</title>
  <meta name="author" content="Luis González">
  {% block links %}
  {% endblock %}
</head>
<body>
  {% block content %}
  {% endblock %}
  {% block scripts %}
  {% endblock %}
</body>
</html>