.App {
  text-align: center;
}

.App-content, .App-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.App-header {  
  background-color: #222;
  height: 10vh;
  padding: 20px;
  color: white;
}

.App-content {
  padding-top: 5vh;
  font-size: medium;
}
