.Home {
  text-align: center;
}

.Home-content, .Home-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.Home-header {  
  background-color: #222;
  height: 10vh;
  padding: 20px;
  color: white;
}

.Home-content {
  padding-top: 5vh;
  font-size: medium;
}
