.price-list {
  width: 600px;
  max-width: 90vw;
  align-self: center;
  overflow: visible;
}

.price-list__content {
  border: 1px solid #afafaf;
  border-radius: 3px;
  display: flex;
  flex-flow: column-reverse;
}
