.stock-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  border-bottom: 1px solid #afafaf;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  overflow: visible;
  padding: 5px 0;
}

.stock-item:last-child {
  border: none;
}

.stock-item:hover {
  transform: scale(1.05);
  border: 1px solid #afafaf;
   background-color: #dddddd;
}

.stock-item__title {
  flex: 0 0 50%;
  pointer-events: none;
}

.stock-item__info {
  display: flex;
  flex-flow: column;
  flex: 1 0 65%;
  justify-content: space-around;
  align-items: flex-start;
  pointer-events: none;
}