.stock-list {
  width: 600px;
  max-width: 90vw;
  align-self: center;
  border: 1px solid #afafaf;
  border-radius: 3px;
  overflow: hidden;
}

.stock-list a {
  text-decoration: none;
  color: #161616;
}