.Stock-history {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5vh 0;
}

.Stock-history__home-link {
  font-size: 1.3rem;
  font-weight: 600;
}